.selectRow {
  cursor: pointer;
}

.selectRowActive {
  background-color: color-mix(in oklch, var(--primary), transparent 90%);
}

.chevron {
  display: inline-flex;
  width: 16px;
  height: 16px;
  transition: transform 150ms ease-out;
}

.chevronOpen {
  transform: rotate(90deg);
}
